* {
  margin: 0;
  padding: 0;
}

/*BACKGROUND*/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}
/*MAIN CONTAINER*/
.todos {
  width: 100%;
}
/*HEADER styling*/
header {
  padding: 20px 4%;
  background: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*NAME styling*/
header h1 {
  color: white;
  font-size: 50px;
  font-family: 'Plaster', cursive;
}
header h1 span {
  color: crimson;
}

/*FORM styling*/
header form {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  width: 70%;
  padding: 7px;
  margin-right: 5%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}
form input:focus {
  outline: none;
}
.btn {
  display: block;
  padding: 7px 20px;
  font-size: 18px;
  background: crimson;
  color: #282828;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background: white;
  color: crimson;
}
.btn:focus {
  outline: none;
}

/*FILTERS*/
.filters {
  width: 50%;
  margin: 15px auto;
  display: flex;
}
.filters-no-todo {
  width: 90%;
  margin: 15px auto;
  display: flex;
}
.filters .btn, .filters-no-todo .btn {
  margin-right: 15px;
}
.filters-options {
  display: flex;
}
.choose-filter {
  background: rgb(110, 110, 110);
  color: white;
}

/*TODOS styling*/
.todos .todo-list {
  width: 50%;
  margin: 30px auto 0 auto;

}
.todo {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 26px;
  background: rgba(255,255,255, .1);
  filter: blur();
  margin-bottom: 10px;
  font-family: 'Farsan', cursive;
  opacity: 0;
  animation: TodoOn 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
}
.todo-content {
  display: flex;
  width: 90%;
  align-items: center;
  cursor: pointer;
}
.todo-content:hover {
  cursor: pointer;
}
.todo-bullet {
  margin-right: 15px;
}
.todo-bullet-completed {
  margin-right: 15px;
  color: rgb(110, 110, 110);
}
.todo-text {
  text-decoration: none;
  color: white; 
  cursor: pointer;
}
.todo-text-completed {
  color: rgb(110, 110, 110);
  text-decoration: line-through; 
  cursor: pointer;
}
.todo-text:hover {
  cursor: pointer;
  color: rgb(173, 173, 173);
  cursor: pointer;
}
.todo p:hover {
  cursor: pointer;
  color: crimson;
}
/*Clear completed button*/
.todos .btn.clear {
  margin: 30px auto 0 auto;
}
.btn-hidden {
  display: none;
}

@media (max-width: 1000px) {
  .todos .todo-list {
    width: 70%;
  }
  .filters {
    width: 70%;
  }
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  header form, h1 {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .todos .todo-list {
    width: 80%;
  }
  .filters {
    flex-direction: column;
    width: 80%;
  }
  .filters > .btn {
    width: 25%;
    margin-bottom: 15px;
  }
}

@keyframes TodoOn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}